fastapi
uvicorn
langgraph
langchain
langchain-openai
pydantic
python-dotenv
sqlalchemy
tiktoken
dotenv
langsmith
pydantic-settings
chromadb
langchain-community
langchain-chroma
reportlab
python-docx
pypdf
python-multipart